doctype html
html
	head
		title Sample App
		// STYLES
		link(href="styles/dependencies/foundation/foundation.css")
		link(href="styles/dependencies/foundation/normalize.css")
		// STYLES END
	body
		h1 Hello World
		script(src="http://192.168.30.12:35729/livereload.js")
		// JS
		script(src="js/dependencies/angular/angular.js")
		script(src="js/dependencies/fastclick/fastclick.js")
		script(src="js/dependencies/modernizr/modernizr.js")
		// JS END